<html>
<head>
	<title>{% block title 'Florian Metz' %}</title>
</head>
<body>
	<h1>Meine Seite</h1>
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	{% block content '' %}
</body>
</html>