<html>
<head>
	<title>{% block title 'Register' %}</title>
</head>
<body>
	<h1>Register for 'FÜF'</h1>
	<form method="POST">
		<label>
			Username:
			<input type="text" name="username" />
		</label>
		<label>
			Email:
			<input type="email" name="email" value="<?= (isset($email)) ? $email: "" ?>"/>
		</label>
		<p></p>
		<label>
			Password:
			<input type="password" name="password" />
		</label>
		<p></p>
		<input type="submit" name="login" value="Login" />
	
	</form>
</body>
</html>